In [1]:
import pandas as pd
import numpy as np 
import pickle

from ucimlrepo import fetch_ucirepo 
from pathlib import Path
from sklearn.model_selection import train_test_split

In [2]:
data_cache = Path('assets/data_cache')

if data_cache.is_file():
    with open(data_cache, 'rb') as f:
        df, y = pickle.load(f)
else: 
    # fetch dataset 
    cdc_diabetes_health_indicators = fetch_ucirepo(id=891) 
      
    # data (as pandas dataframes) 
    df = cdc_diabetes_health_indicators.data.features 
    y = cdc_diabetes_health_indicators.data.targets 
      
    # metadata 
    print(cdc_diabetes_health_indicators.metadata) 
      
    # variable information 
    print(cdc_diabetes_health_indicators.variables)

    # cache it for further use
    with open(data_cache, 'wb') as f: 
        pickle.dump((df,y), f)

In [3]:
df['diabetes_binary'] = y

In [4]:
df.columns = df.columns.str.replace(' ', '_').str.lower()

In [5]:
df

,highbp,highchol,cholcheck,bmi,smoker,stroke,heartdiseaseorattack,physactivity,fruits,veggies,...,nodocbccost,genhlth,menthlth,physhlth,diffwalk,sex,age,education,income,diabetes_binary
0,1,1,1,40,1,0,0,0,0,1,...,0,5,18,15,1,0,9,4,3,0
1,0,0,0,25,1,0,0,1,0,0,...,1,3,0,0,0,0,7,6,1,0
2,1,1,1,28,0,0,0,0,1,0,...,1,5,30,30,1,0,9,4,8,0
3,1,0,1,27,0,0,0,1,1,1,...,0,2,0,0,0,0,11,3,6,0
4,1,1,1,24,0,0,0,1,1,1,...,0,2,3,0,0,0,11,5,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,1,1,1,45,0,0,0,0,1,1,...,0,3,0,5,0,1,5,6,7,0
253676,1,1,1,18,0,0,0,0,0,0,...,0,4,0,0,1,0,11,2,4,1
253677,0,0,1,28,0,0,0,1,1,0,...,0,1,0,0,0,0,2,5,2,0
253678,1,0,1,23,0,0,0,0,1,1,...,0,3,0,0,0,1,7,5,1,0
253679,1,1,1,25,0,0,1,1,1,0,...,0,2,0,0,0,0,9,6,2,1

In [6]:
len(list(df.columns.values))

22

In [7]:
binary_cols = ['highbp',
 'highchol',
 'cholcheck',
 'smoker',
 'stroke',
 'heartdiseaseorattack',
 'physactivity',
 'fruits',
 'veggies',
 'hvyalcoholconsump',
 'anyhealthcare',
 'nodocbccost',
 'diffwalk',
 'sex',
 'diabetes_binary'
]
purely_num = ['menhlth', 'physhlth']

In [8]:
len(binary_cols)

15

In [9]:
df

,highbp,highchol,cholcheck,bmi,smoker,stroke,heartdiseaseorattack,physactivity,fruits,veggies,...,nodocbccost,genhlth,menthlth,physhlth,diffwalk,sex,age,education,income,diabetes_binary
0,1,1,1,40,1,0,0,0,0,1,...,0,5,18,15,1,0,9,4,3,0
1,0,0,0,25,1,0,0,1,0,0,...,1,3,0,0,0,0,7,6,1,0
2,1,1,1,28,0,0,0,0,1,0,...,1,5,30,30,1,0,9,4,8,0
3,1,0,1,27,0,0,0,1,1,1,...,0,2,0,0,0,0,11,3,6,0
4,1,1,1,24,0,0,0,1,1,1,...,0,2,3,0,0,0,11,5,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253675,1,1,1,45,0,0,0,0,1,1,...,0,3,0,5,0,1,5,6,7,0
253676,1,1,1,18,0,0,0,0,0,0,...,0,4,0,0,1,0,11,2,4,1
253677,0,0,1,28,0,0,0,1,1,0,...,0,1,0,0,0,0,2,5,2,0
253678,1,0,1,23,0,0,0,0,1,1,...,0,3,0,0,0,1,7,5,1,0
253679,1,1,1,25,0,0,1,1,1,0,...,0,2,0,0,0,0,9,6,2,1

In [10]:
# map categorical values
binary_values = {
    0 : 'false',
    1 : 'true'
}

for col in binary_cols: 
    df[col] = df[col].map(binary_values)

In [11]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,253670,253671,253672,253673,253674,253675,253676,253677,253678,253679
highbp,true,false,true,true,true,true,true,true,true,false,...,true,true,true,true,false,true,true,false,true,true
highchol,true,false,true,false,true,true,false,true,true,false,...,true,true,false,false,false,true,true,false,false,true
cholcheck,true,false,true,true,true,true,true,true,true,true,...,true,true,true,true,true,true,true,true,true,true
bmi,40,25,28,27,24,25,30,25,30,24,...,25,23,30,42,27,45,18,28,23,25
smoker,true,true,false,false,false,true,true,true,true,false,...,false,false,true,false,false,false,false,false,false,false
stroke,false,false,false,false,false,false,false,false,false,false,...,false,true,false,false,false,false,false,false,false,false
heartdiseaseorattack,false,false,false,false,false,false,false,false,true,false,...,true,true,true,false,false,false,false,false,false,true
physactivity,false,true,false,true,true,true,false,true,false,false,...,false,false,true,true,false,false,false,true,false,true
fruits,false,false,true,true,true,true,false,false,true,false,...,true,false,true,true,false,true,false,true,true,true
veggies,true,false,false,true,true,true,false,true,true,true,...,false,false,true,true,true,true,false,false,true,false
hvyalcoholconsump,false,false,false,false,false,false,false,false,false,false,...,false,false,false,false,false,false,false,false,false,false
anyhealthcare,true,false,true,true,true,true,true,true,true,true,...,true,true,true,true,true,true,true,true,true,true
nodocbccost,false,true,true,false,false,false,false,false,false,false,...,false,true,false,false,false,false,false,false,false,false
genhlth,5,3,5,2,2,2,3,3,5,2,...,5,4,3,3,1,3,4,1,3,2
menthlth,18,0,30,0,3,0,0,0,30,0,...,15,0,0,14,0,0,0,0,0,0
physhlth,15,0,30,0,0,2,14,0,30,0,...,0,5,0,4,0,5,0,0,0,0
diffwalk,true,false,true,false,false,false,false,true,true,false,...,true,false,false,false,false,false,true,false,false,false
sex,false,false,false,false,false,true,false,false,false,true,...,false,true,true,true,false,true,false,false,true,false
age,9,7,9,11,11,10,9,11,9,8,...,13,8,12,3,3,5,11,2,7,9
education,4,6,4,3,5,6,6,4,5,4,...,6,3,2,6,6,6,2,5,5,6
income,3,1,8,6,4,8,7,4,1,3,...,4,2,1,8,5,7,4,2,1,2
diabetes_binary,false,false,false,false,false,false,false,false,true,false,...,true,false,false,false,false,false,true,false,false,true

In [12]:
# change categorical values to cateogary for so that we can better binary hot encode it
genhlth_values = {
    1: 'excellent',
    2: 'very_good',
    3: 'good',
    4: 'fair',
    5: 'poor'
}

df.genhlth = df.genhlth.map(genhlth_values)

In [13]:
 education_values = {
     1 : 'never_attended_school',
     2 : 'grade_1_to_8',
     3 : 'grade_9_to_11',
     4 : 'grade_12_to_high_school_graduate',
     5 : 'college_1_to_3_years',
     6 : 'college_4_to_more'
}
df.education = df.education.map(education_values)

In [14]:
 income_values = {
     1 : 'Less than $10,000',
     2 : '$10,000 to less than $15,000',
     3 : '$15,000 to less than $20,000',
     4 : '$20,000 to less than $25,000',
     5 : '$25,000 to less than $35,000',
     6 : '$35,000 to less than $50,000',
     7 : '$50,000 to less than $75,000',
     8 : '$75,000 or more'
}
df.income = df.income.map(income_values)
df.income = df.income.str.lower().str.replace(' ', '_').str.replace(',','')

In [16]:
age_values = {
    1 :	'Age 18 to 24',
    2 :	'Age 25 to 29',
    3 :	'Age 30 to 34',
    4 :	'Age 35 to 39',
    5 :	'Age 40 to 44',
    6 :	'Age 45 to 49',
    7 :	'Age 50 to 54',
    8 :	'Age 55 to 59',
    9 :	'Age 60 to 64',
    10 : 'Age 65 to 69',
    11 : 'Age 70 to 74',
    12 : 'Age 75 to 79',
    13 : 'Age 80 or older',
}
df.age = df.age.map(age_values)
df.age = df.age.str.lower().str.replace(' ', '_')

,0,1,2,3,4,5,6,7,8,9,...,253670,253671,253672,253673,253674,253675,253676,253677,253678,253679
highbp,true,false,true,true,true,true,true,true,true,false,...,true,true,true,true,false,true,true,false,true,true
highchol,true,false,true,false,true,true,false,true,true,false,...,true,true,false,false,false,true,true,false,false,true
cholcheck,true,false,true,true,true,true,true,true,true,true,...,true,true,true,true,true,true,true,true,true,true
bmi,40,25,28,27,24,25,30,25,30,24,...,25,23,30,42,27,45,18,28,23,25
smoker,true,true,false,false,false,true,true,true,true,false,...,false,false,true,false,false,false,false,false,false,false
stroke,false,false,false,false,false,false,false,false,false,false,...,false,true,false,false,false,false,false,false,false,false
heartdiseaseorattack,false,false,false,false,false,false,false,false,true,false,...,true,true,true,false,false,false,false,false,false,true
physactivity,false,true,false,true,true,true,false,true,false,false,...,false,false,true,true,false,false,false,true,false,true
fruits,false,false,true,true,true,true,false,false,true,false,...,true,false,true,true,false,true,false,true,true,true
veggies,true,false,false,true,true,true,false,true,true,true,...,false,false,true,true,true,true,false,false,true,false
hvyalcoholconsump,false,false,false,false,false,false,false,false,false,false,...,false,false,false,false,false,false,false,false,false,false
anyhealthcare,true,false,true,true,true,true,true,true,true,true,...,true,true,true,true,true,true,true,true,true,true
nodocbccost,false,true,true,false,false,false,false,false,false,false,...,false,true,false,false,false,false,false,false,false,false
genhlth,poor,good,poor,very_good,very_good,very_good,good,good,poor,very_good,...,poor,fair,good,good,excellent,good,fair,excellent,good,very_good
menthlth,18,0,30,0,3,0,0,0,30,0,...,15,0,0,14,0,0,0,0,0,0
physhlth,15,0,30,0,0,2,14,0,30,0,...,0,5,0,4,0,5,0,0,0,0
diffwalk,true,false,true,false,false,false,false,true,true,false,...,true,false,false,false,false,false,true,false,false,false
sex,false,false,false,false,false,true,false,false,false,true,...,false,true,true,true,false,true,false,false,true,false
age,age_60_to_64,age_50_to_54,age_60_to_64,age_70_to_74,age_70_to_74,age_65_to_69,age_60_to_64,age_70_to_74,age_60_to_64,age_55_to_59,...,age_80_or_older,age_55_to_59,age_75_to_79,age_30_to_34,age_30_to_34,age_40_to_44,age_70_to_74,age_25_to_29,age_50_to_54,age_60_to_64
education,grade_12_to_high_school_graduate,college_4_to_more,grade_12_to_high_school_graduate,grade_9_to_11,college_1_to_3_years,college_4_to_more,college_4_to_more,grade_12_to_high_school_graduate,college_1_to_3_years,grade_12_to_high_school_graduate,...,college_4_to_more,grade_9_to_11,grade_1_to_8,college_4_to_more,college_4_to_more,college_4_to_more,grade_1_to_8,college_1_to_3_years,college_1_to_3_years,college_4_to_more
income,$15000_to_less_than_$20000,less_than_$10000,$75000_or_more,$35000_to_less_than_$50000,$20000_to_less_than_$25000,$75000_or_more,$50000_to_less_than_$75000,$20000_to_less_than_$25000,less_than_$10000,$15000_to_less_than_$20000,...,$20000_to_less_than_$25000,$10000_to_less_than_$15000,less_than_$10000,$75000_or_more,$25000_to_less_than_$35000,$50000_to_less_than_$75000,$20000_to_less_than_$25000,$10000_to_less_than_$15000,less_than_$10000,$10000_to_less_than_$15000
diabetes_binary,false,false,false,false,false,false,false,false,true,false,...,true,false,false,false,false,false,true,false,false,true

In [15]:
income_values = {
    #TODO
}
df.income = df.income.map(income_values)

In [9]:
# Let's split the data from in train test split 
df_full_train, df_val = train_test_split(df, test_size=0.25

SyntaxError: unexpected EOF while parsing (135549221.py, line 2)